.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-logo {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

span {
  color: var(--accent-color);
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.nav-link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: -32px;
}

.current {
  color: #2196f3;
}

.header-contacts {
  list-style: none;
}

.contacts-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-link:hover .contacts-link-mail,
.contacts-link:focus .contacts-link-mail {
  fill: var(--accent-color);
}

.contacts-link:hover .contacts-link-phone,
.contacts-link:focus .contacts-link-phone {
  fill: var(--accent-color);
}

.contacts-link-mail {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.contacts-link-phone {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.container-header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  list-style: none;
}

.header-contacts {
  display: flex;
}

.header-logo {
  margin-right: 93px;
}

.nav-links:not(:last-child) {
  margin-right: 50px;
}

.header-mail:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  margin-left: auto;
}
